<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        
  <h1 class="title has-text-centered">Cadastro de alunos</h1>
  <div class="col-md-6 input-group" id="signup-form">

    <!-- our signup form ===================== -->
    <form @submit.prevent="processForm">
      <!-- name -->
      <div class="field">
        <label class="label">Nome</label>
        <input type="text" class="form-control" name="nome" v-model="nome">
      </div>

      <!-- email -->
      <div class="field">
        <label class="label">Login</label>
        <input type="text" class="form-control" name="login" v-model="login">
      </div>
      
      <div class="field">
        <label class="label">Senha</label>
        <input type="password" class="form-control" v-model="senha">
      </div>

      <!-- submit button -->
      <br>
      <div class="field has-text-right">
        <button v-on:click.prevent="post" type="submit" class="btn btn-success btn-sm">Submit</button>
      </div>
      <br>
    </form>
  </div>
      <button v-on:click="logout()" type="submit" class="btn btn-warning btn-sm">LogOut</button>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script>
            Vue.use(VueResource);
            const app = new Vue({
            el: '#signup-form',
            data: {
                    id:'',
                    nome: '',
                    senha: '',
                    login:'',
            },
            beforeMount: function(){
                if (document.cookie.indexOf('website') == -1 ) {
                    alert("Deve logar primeiro");
                    window.location.replace("Login");
                }else{
                   // window.location.replace("/pavi");
                }
                this.$http.get( "webresources/aluno/listar").then(function(responseData){
                  this.alunos = responseData.body;
                });
                
            },
            methods: {
              logout: function(){
                document.cookie = "website =;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=login;";
                window.location.replace("Login");
              },
              post: function() {
                var info = { nome: this.nome, login: this.login, senha: this.senha };
                console.log("opa");
                this.$http.post("webresources/aluno/inserir", info).then(function(dat){
                    console.log(dat);
                    window.location.reload(false); 
                });
              }
            }
          });

        </script>
            